

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Fonts
# Animation
# Typography
# Header
# Content
# Footer

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

@font-face {
   font-family: 'Pattaya-Regular'; /* Гарнитура шрифта */
   src: url('../fonts/Pattaya-Regular.ttf'); /* Путь к файлу со шрифтом */
  }

@font-face {
   font-family: 'MontserratAlternates-Regular'; /* Гарнитура шрифта */
   src: url('../fonts/MontserratAlternates-Regular.ttf'); /* Путь к файлу со шрифтом */
  }

@font-face {
   font-family: 'MontserratAlternates-Bold'; /* Гарнитура шрифта */
   src: url('../fonts/MontserratAlternates-Bold.ttf'); /* Путь к файлу со шрифтом */
  }

@font-face {
   font-family: 'Neucha'; /* Гарнитура шрифта */
   src: url('../fonts/Neucha.ttf'); /* Путь к файлу со шрифтом */
  }
@font-face {
   font-family: 'RobotoRegular'; /* Гарнитура шрифта */
   src: url('../fonts/RobotoRegular.ttf'); /* Путь к файлу со шрифтом */
  }
@font-face {
   font-family: 'RobotoLight'; /* Гарнитура шрифта */
   src: url('../fonts/RobotoLight.ttf'); /* Путь к файлу со шрифтом */
  }
@font-face {
   font-family: 'RobotoBold'; /* Гарнитура шрифта */
   src: url('../fonts/RobotoBold.ttf'); /* Путь к файлу со шрифтом */
  }

/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

@keyframes show-panel {
  from { left: -235px; }
  to   { left: 0; }
}

@keyframes hidden-panel {
  from { left: 0; }
  to   { left: -235px; }
}

@keyframes rotate-up {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-45deg); }
}

@keyframes prerotate-up {
  from { transform: rotate(-45deg); }
  to   { transform: rotate(0deg); }
}

@keyframes rotate-bottom {
  from { transform: rotate(0deg); }
  to   { transform: rotate(45deg); }
}

@keyframes prerotate-bottom {
  from { transform: rotate(45deg); }
  to   { transform: rotate(0deg); }
}

@keyframes swell {
  from { width: 98%;
  box-shadow: 0 0 0 0 #404040; }
  to   { width: 100%;
  box-shadow: 0 0 3px 1px #404040; }
}

@keyframes deflate {
  from { width: 100%;
  box-shadow: 0 0 3px 1px #404040; }
  to   { width: 98%;
  box-shadow: 0 0 0 0 #404040; }
}

@keyframes swell-r {
  from { width: 85%; }
  to   { width: 100%; }
}

@keyframes deflate-r {
  from { width: 100%; }
  to   { width: 85%; }
}

@keyframes rotate-up1 {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-180deg); }
}

@keyframes prerotate-up1 {
  from { transform: rotate(-180deg); }
  to   { transform: rotate(0deg); }
}

@keyframes show-popup {
  from { opacity: 0;}
  to   { opacity: 1; }
}

@keyframes hide-popup {
  from { opacity: 1;}
  to   { opacity: 0; }
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html, body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	font-family: 'OpenSans', sans-serif;
  color: #404040;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1em;
  font-family: 'OpenSansSemibold', serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

span.hide-text {
  font-size: 0;
}

.container {
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.cols {
  margin: 1em auto;
  box-sizing: border-box;
}

.cols.col-1,
.cols.col-2,
.cols.col-3,
.cols.col-4,
.cols.col-5,
.cols.col-6,
.cols.col-7,
.cols.col-8,
.cols.col-9,
.cols.col-10,
.cols.col-11,
.cols.col-12 {
  width: 100%;
}

.color-text {
  color: #e93a1d;
}

.text_pro {
  color: #d37225;
}

@media (min-width: 640px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  .cols {
    float: left;
    margin: 1em 0;
  }

  .cols.col-6-md {
    width: 50%;
  }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.left-panel {
  position: fixed;
  top: 0;
  left: -240px;
  display: block;
  width: 235px;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  color: #354b4d;
  background-color: #fbf5cf;
  box-shadow: 2px 0 5px 3px rgba(0, 0, 0, 0.5);
}

.logo-box {
  margin: 1em;
  margin-top: 0;
}

.logo-box h1 {
  margin-top: 0;
  text-align: center;
  font-family: 'MontserratAlternates-Bold', 'Arial', sans-serif;
}

.social {
  margin: 0 1em;
  text-align: center;
}

header .social-icons {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  margin: 0 2px;
  border: 1px solid rgba(211, 114, 37, 0.5);
  border-radius: 50%;
}

header .social-icons:hover {
  cursor: pointer;
  background-color: rgba(211, 114, 37, 0.2);
  border: 1px solid rgba(211, 114, 37, 0.9);
}

.social-icons.social_vk {
  background: url('../img/vk_icon.png') no-repeat 50% 50%;
  background-size: 60%;
}

.social-icons.social_ok {
  background: url('../img/vk_icon.png') no-repeat 50% 50%;
  background-size: 60%;
}

.social-icons.social_f {
  background: url('../img/fb_icon.png') no-repeat 50% 50%;
  background-size: 60%;
}

.social-icons.social_inst {
  background: url('../img/in_icon.png') no-repeat 50% 50%;
  background-size: 60%;
}

.main-menu {
  margin: 1em 0;
}

.main-menu li {
  padding: 0.5em 1em;
}

.main-menu li:hover  {
  background-color: rgba(211, 114, 37, 0.2);
}

.main-menu li > a {
  display: block;
  font-size: 0.9em;
  font-family: 'MontserratAlternates-Regular', 'Arial', sans-serif;
}

.main-menu li .text_pro {
  letter-spacing: -1px;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'MontserratAlternates-Bold';
  margin-right: 2px;
}

header .contacts {
  margin: 1em;
}

.contats_title span,
.wiget-phone,
.wiget-mail {
  position: relative;
  display: block;
  width: 100%;
  padding: 0.5em;
  padding-left: 40px;
}

.contats_title span::before {
  position: absolute;
  top: 5px;
  left: 7px;
  display: block;
  width: 24px;
  height: 24px;
  content: '';
  filter: grayscale(1);
}

.contats_title:hover span::before {
  cursor: pointer;
  filter: grayscale(0);
}

.contats_title.velcom span::before {
  background: url('../img/icon_velcom.png') no-repeat 50% 50%;
  background-size: contain;
}

.contats_title.mts span::before {
  background: url('../img/icon_mts.png') no-repeat 50% 50%;
  background-size: contain;
}

.wiget-phone,
.wiget-mail {
  padding: 5px;
  padding-left: 30px;
}

.wiget-mail {
  padding-left: 40px;
  font-size: 1.1em;
  font-family: 'Neucha';
}

.wiget-phone::before,
.wiget-mail::before {
  position: absolute;
  top: 5px;
  left: 10px;
  display: block;
  width: 18px;
  height: 18px;
  content: '';

}

.wiget-phone::before {
  background: url('../img/icon_phone.png') no-repeat 50% 50%;
  background-size: contain;
}

.wiget-mail::before {
  background: url('../img/icon_mail.png') no-repeat 50% 50%;
  background-size: contain;
}

.contacts a:hover {
  color: #d37225;
  font-weight: bold;
}



/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

main {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*--------------------------------------------------------------
# Popup form
--------------------------------------------------------------*/

.wrap {
  opacity: 0.8;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 16px;
  background-color: rgba(35, 35, 35, 0.8);
  z-index: 9999;
  overflow: auto;
  opacity: 0;
  display: none;
}

.popup-question {
  position: fixed;
  left: 0;
  right: 0;
  top: 100px;
  z-index: 99999;
  width: 300px;
  min-height: 50px;
  margin: 5px auto;
  padding: 1em;
  font-size: 1.1em;
  text-align: center;
	border-radius: 5px;
  color: #354b4d;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  display: none;
}

.popup-question-close {
	position: absolute;
	top: 0;
	right: 0;
  z-index: 9999;
	display: block;
	margin: 0;
	padding: 0;
  width: 30px;
	height: 30px;
	font-size: 0;
  animation-name: prerotate-up1;
  animation-duration: 0.5s;
}

.popup-question-close::after,
.popup-question-close::before {
  position: absolute;
  top: 13px;
  left: 5px;
  width: 20px;
  height: 1px;
  background-color: #000000;
  transform: rotate(45deg);
  content: '';
}

.popup-question-close::before {
  transform: rotate(-45deg);
}

.popup-question-close:hover {
  cursor: pointer;
  animation-name: rotate-up1;
  animation-duration: 0.3s;
  transform: rotate(-180deg);
}

.modal-content-show {
  display: block;
  animation-name: show-popup;
  animation-duration: 0.5s;
  opacity: 1;
}

.modal-content-hide {
  animation-name: hide-popup;
  animation-duration: 0.4s;
  opacity: 0;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
  position: relative;
  z-index: 99;
  padding: 1em 0;
  background-color: #354b4d;
  box-shadow: 0 -3px 5px 3px rgba(0, 0, 0, 0.5);
}

footer .copy {
  width: 100%;
  text-align: center;
  color: #fcf6d0;
}


/*============== for tablets 768px ===========================*/
@media screen and (min-width: 768px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*============== for tablets 1024px ===========================*/
@media screen and (min-width: 1024px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  .container {
    max-width: 960px;
  }


  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .left-panel {
    position: fixed;
    left: 0;
  }


  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  main {
    width: calc(100% - 235px);
    margin-left: 235px;
    padding: 0;
  }

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for PC 1280px ===========================*/
@media screen and (min-width: 1280px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for PC 1366px ===========================*/
@media screen and (min-width: 1366px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}

/*=================== for MAC 1600px ===========================*/
@media screen and (min-width: 1600px) {

  /*--------------------------------------------------------------
  # Typography
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Content
  --------------------------------------------------------------*/

  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/

}
